# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: Test Builds

on:
  push:
    branches: [ "main", "v0_8" ]
  pull_request:
    types: [ "opened", "synchronize", "edited" ]

permissions:
  contents: read

jobs:
  test:
    name: 'Build'
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
        arch: [x86_64, arm64, arm]
        build: [debug, release]
        exclude:
          - { os: macOS-latest, arch: arm }
          - { os: windows-latest, arch: arm }

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Install compiler
      uses: dlang-community/setup-dlang@v2
      with:
        compiler: ldc-beta

    - name: 'Build ${{ matrix.os }}-${{ matrix.build }} (${{ matrix.arch }})' 
      run: |
        dub build --build=${{ matrix.build }} --arch=${{ matrix.arch }}