# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: Build and Release

on:
  push:
    # Push all normally versioned tags
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-release:
    uses: './.github/workflows/build.yml'
    with:
      target_ref: '${{ github.ref_name }}'
      variant: 'dynamic'
      build_type: 'release'

  build-debug:
    uses: './.github/workflows/build.yml'
    with:
      target_ref: '${{ github.ref_name }}'
      variant: 'dynamic'
      build_type: 'debug'
  
  release:
    runs-on: ubuntu-latest
    needs: [build-release, build-debug]
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: 'inochi2d-*'
        merge-multiple: true

    - name: 'Release to ${{ github.ref_name }}'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
        files: |
          *.tar